.main-page-parent{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.task-container{
    width: 697px;
}

.task-scroll{
    height: 700px;
    overflow: scroll;
    border-bottom: 1px solid #c19a6b;
}

.task-scroll::-webkit-scrollbar{
    display: none;
}

.task-description{
    font-weight:bold;
}


.single-task{
    border-bottom: 1px solid #c19a6b;
    margin-bottom: 5px;
    padding-bottom:18px;
}

.lists-container{
    display:flex;
    flex-direction: column;
}


.biggest-container{
    display:flex;
    background-image: url('../../images/single-coffee-pattern.jpg');
    background-size: cover;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
}


h2{
    margin-top:0px;
    color:white;
}

.single-list-container{
    display:flex;
}


.side-bar-nav{
    width: 200px;
    margin-left: 28px;
    margin-right:35px;
    font-size: 14px;
}

.list-header-div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
}


.lists-header{
    font-size: 22px;
    color: white;
    margin-bottom: 12px;
    align-items: center;
    /* margin-right: 65px; */
}

.single-list-container{
    display:flex;
    justify-content: space-between;
    padding: 5px 16px 5px 5px;
    border: 1px solid #c19a6b;
    border-radius: 4px;
}


/* .add-task-fa{
    color:white;
    font-size: 5px;
} */

#add-favicon{
    font-size: 20px;
    color:white;
}

#ellipsis{
    font-size: 17px;
    color: #2b2012;
}

.add-task-bottom-of-page{
    margin-top: 15px;
}
