.main-page-parent{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.task-container{
    width: 697px;
}

.task-scroll{
    height: 700px;
    overflow: scroll;
    border-bottom: 1px solid #c19a6b;
}

.task-scroll::-webkit-scrollbar{
    display: none;
}

.task-description{
    font-weight:bold;
}


.single-task{
    border-bottom: 1px solid #c19a6b;
    margin-bottom: 5px;
    padding-bottom:18px;
}

.lists-container{
    display:flex;
    flex-direction: column;
}


.biggest-container{
    display:flex;
}


h2{
    margin-top:0px;
}

.single-list-container{
    display:flex;
}


.side-bar-nav{
    width: 200px;
    margin-left: 28px;
    margin-right:35px;
    font-size: 14px;
}

.list-header-div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.lists-header{
    font-size: 22px;
    /* margin-right: 65px; */
}

.single-list-container{
    display:flex;
    justify-content: space-between;
    padding: 5px 16px 5px 5px;
    border: 1px solid black;
    border-radius: 4px;
}
