.edit-task-form{
    display:flex;
    flex-direction: column;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 7px;
    background-color: white;
}

.edit-task-error{
    color:red;
    list-style: none;
}

.edit-task-description-input{
    width:99%;
    border:none;
    margin-bottom: 11px;
}

.edit-task-description-input:focus{
    outline:none;
}

.edit-task-textarea{
    border:none;
}

.edit-task-textarea:focus{
    outline:none;
}

.edit-task-button{
    background-color: #f7f7f7;
    border-radius: 25px;
    padding: 5px 10px;
    font-weight:bold;
    border: 1px solid black;
    margin-right: 6px;
}
