

.edit-list-form-parent{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* padding: 10px 0; */
    min-height: 250px;
    width: 275px;
    font-size:22px;
    font-weight: bold;
    border: 3px solid #a0583c;
    /* background-color: black; */
    background-image: url('../../images/coffee-menu.jpg');
    background-size:cover;
    color:white;
}


.edit-list-form-container{
    margin-bottom: 20px;
}

.edit-list-form-parent button{
    margin-bottom:17px;
    cursor: pointer;
    font-weight:bold;
    padding: 6px 12px 7px;
}

.edit-list-form-heading{
    padding:14px 0px;
    font-family: 'Cabin Sketch', cursive;
}

.edit-list-label-input{
    margin-top: 14px;
    display:flex;
    flex-direction: column;
    font-family: 'Cabin Sketch', cursive;
}

.list-edit-cancel-buttons button{
    margin-right: 8px;
    margin-top: 25px;
    border-radius: 25px;
    background-color: #f7f7f7;
}


.edit-list-errors{
    list-style:none;
    color: red;
    font-size: 20px;
    font-weight: normal;
    align-items: center;
}
